.page-content-leave .pr-container {
  padding: 0 10px;
}

.page-content-leave .pr-container .div-table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-content-leave .pr-container .div-table div .pr-div-icon {
  display: inline-block;
  margin: 0 3px;
}

#pr-leave-note .pr-row textarea {
  font-size: 14px;
}

.Balance-leave .bold-row {
  font-weight: 600;
  font-size: 13px;
}

.page-content-leave .div-table-row-header {
  font-size: 12px;
}

/* .div-table-col span {
  word-break: break-all;
} */
